  <div class="jumbotron">
  <h1>Fresh and Healthy Snacks for all.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>
  
  <section id="about snack-fu">
        <div class="container">
            <div id="what is snackfu">
                <div class="intro">
                    <h2>Hello,</h2>
                    <p> SnackFu is an online website to Buy and Sell Fresh snacks all over the world. The one place to be healthier. One of the best place to keep youself and other fresh,healthy and happy.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sunt, velit. Laudantium quidem consectetur nihil assumenda, quia quod adipisci! Dignissimos quo repellat voluptatem aut, blanditiis. Aliquid, quo velit magni id.</p>
                    <p1><a href="https://blooming-tor-56677.herokuapp.com/"> Click here To get Healthy</p1>
                </div>
            </div>

             <br/>
             <br/>
    </section>