@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";




body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color:#EFEFEB;
}
.navbar-default .navbar-brand {
  font-family: guardian-egypt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
  
   
}

.search {
    text-align: center;
    
   }

.center {
  text-align: center;
}

.col-md-4:nth-child(3n+1) {
    clear: left;
  }

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {font-size: 25px;}
  p {font-size: 18px;}
}

.caption {
  h3{
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

.jumbotron {
  background-image: url('https://res.cloudinary.com/pukustore/image/upload/v1557371767/jumbotron_pggsrq.jpg');
  color: white;
  h1,h2 {
  font-family: guardain-egypt, georgia, serif;
  }
}

.copyright {
  text-align: center;
  padding: 20px;
}
#footer {
  margin: 0px;
  padding: 0px;
  background-color: #191c35;
  color: #fff;
   
   
}
#footer{
  width: 100%;
  height: 250px;
  background-color: #191c35;
  color: #fff;
  padding-top: 50px;
  margin-top: 50px;
}




#footer a {
  color: #fff;
}

#footer .social-links {
  text-align: center;
  padding: 30px 0px;
}

#footer .link {
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .2);
  height: 66px;
  width: 66px;
  border: 3px solid transparent;
  transition: border 0.4s, color 0.4s;
}

#footer .link:hover {
  border: 3px solid #e07a5f;
}

#footer .link a:hover {
  color: #e07a5f;
}

#footer .link a {
  display: block;
  padding: 20px;
}

 .website p {
   color: blue;
 }

 #contact form {
 
 
  background-color: #fff;
  padding: 10px;
}
.contact-title h2 {
  font-family: guardian-egypt, georgia, serif;
  color: #d5641c;

}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 0px;
  margin: 10 0px;
  border: 2px solid transparent;
  outline: none;
  background-color: #dddddd;
  transition: border 0.4s;
}

#contact form input:hover,
#contact form textarea:hover,
#contact form input:focus,
#contact form textarea:focus {
border: 2px solid #e07a5f;

}

.intro h2 {
  font-size: 20px;
  color: red;
  font-family: guardian-egypt, georgia, serif;
  color: #d5641c;

}

#checkout {
  background-color: #286090;
  color: white;
}