
  
  <footer id="footer">
        <div class="container first">
            
            <div class="social-links">
                <div class="link">
                    <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="link">
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="link">
                    <a href="https://googleplus.fa-comments"><i class="fab fa-google-plus-g"></i></a>
                </div>
                
                <div class="link">
                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                </div>

                 <div class="container copyright">
                 <div class="website">
                 <p><a href="https://blooming-tor-56677.herokuapp.com/">Visit Us</p></a>
                </div>
            <p>All Rights Reserved © 2019 SnackFu</p>
        </div>
            </div>
        </div>
    </footer>
    
    <br/>
    <br/>