 
 <footer id="footer">
        <div class="container first">
            <div class="logo">

            </div>
            <div class="social-links">
                <div class="link">
                    <a href="https://facebook.com"><i class="fab fa-facebook-f" ></i></a>
                </div>
                <div class="link">
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="link">
                    <a href="https://googleplus.fa-comments"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <div class="link">
                    <a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>All Rights Reserved © 2019, SnakFu</p>
        </div>
    </footer>
    <div class="live">
    <p><a href="https://blooming-tor-56677.herokuapp.com/">Website</p></a>
    </div>
    